<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
<head>
    <!--call in the css for main page-->
    <title>UV Index</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
        <!--add title for app & button to form page-->
        <h1>Welcome to The UV Index App!</h1>
        <a href="/uvform"><button>Check UV Index</button></a>
</body>
</html>
